## Project Goal:
The goal of this project is to analyze Airbnb listing data from Seattle, WA, to uncover trends and insights related to homestay activities. Specifically, the project aims to:

- [Understand Neighborhood Characteristics](#understand-neighborhood-characteristics):
    - Use listing descriptions to characterize and describe the unique vibe of different Seattle neighborhoods.
- [Identify Seasonal Trends](#Identify-Seasonal-Trends):

    - Analyze the calendar data to determine the busiest times of the year for Airbnb in Seattle and measure price fluctuations during peak times.
- [Track Growth Trends](#Track-Growth-Trends):

    - Investigate whether there is an upward trend in the number of new Airbnb listings and the total number of visitors to Seattle over time.

----------
# About Dataset
## Context
Since 2008, guests and hosts have used Airbnb to travel in a more unique, personalized way. As part of the Airbnb Inside initiative, this dataset describes the listing activity of homestays in Seattle, WA.

## Content
The following Airbnb activity is included in this Seattle dataset:

- Listings (airbnb_listings), including full descriptions and average review score.
- Reviews, including unique id for each reviewer and detailed comments.
- Calendar, including listing id and the price and availability for that day.

### Source : 
- [kaggle.com](https://www.kaggle.com/datasets/swsw1717/seatle-airbnb-open-data-sql-project?select=calendar.csv)

------
## Additional
- Adjective List Table (AdjectivesList): Contains a list of adjectives used to analyze and describe the listings' characteristics.

### Source :
-  [kaggle.com](https://www.kaggle.com/datasets/jordansiem/adjectives-list)

---------


# Data schema

##
<img src="image.png" alt="Описание изображения" width="800"/>

---------
# Solution

In [2]:
%load_ext sql
%sql postgresql://postgres:1@localhost:5432/ #Local Data Base.

## Understand Neighborhood Characteristics

### Code

In [5]:
%%sql
-- Step 1: Create CTE to split the listing names into individual words and normalize.
WITH SplitWords AS (
    SELECT
        neighbourhood_group,
        unnest(regexp_split_to_array(lower(name), '\W+')) AS word
    FROM
        airbnb_listings
),
-- Step 2: Import a list of adjectives.
Adjectives AS(
    SELECT word
    FROM AdjectivesList
),
-- Step 3: Create CTE to count the frequency of each adjective word in the listing names.
WordFrequencies AS (
    SELECT
        neighbourhood_group,
        word,
        COUNT(*) AS frequency
    FROM
        SplitWords
    WHERE word IN (SELECT TRIM(word) FROM AdjectivesList)
        AND LENGTH(word) > 4
    GROUP BY
        neighbourhood_group, word
),
-- Step 4: Create CTE to rank the adjectives within each neighbourhood group based on frequency.
TopWords AS (
    SELECT
        neighbourhood_group,
        word,
        frequency,
        ROW_NUMBER() OVER (PARTITION BY neighbourhood_group ORDER BY frequency DESC) AS rank
    FROM
        WordFrequencies
)

-- Step 5: Query to select the top 10 adjectives for each neighbourhood group.
SELECT
    neighbourhood_group,
    STRING_AGG(word, ', ') AS top_words
FROM
    TopWords
WHERE
    rank <= 10
GROUP BY
    neighbourhood_group
ORDER by neighbourhood_group;

 * postgresql://postgres:***@localhost:5432/
17 rows affected.

[('Ballard', 'modern, private, house, parking, beautiful, friendly, charming, spacious, quiet, sweet'),
 ('Beacon Hill', 'modern, private, light, downtown, house, parking, beautiful, north, spacious, charming'),
 ('Capitol Hill', 'parking, modern, private, charming, spacious, house, great, north, quiet, sweet'),
 ('Cascade', 'level, modern, private, downtown, parking, spacious, stunning, south, three, beautiful'),
 ('Central Area', 'central, modern, private, downtown, house, parking, close, great, spacious, stylish'),
 ('Delridge', 'private, modern, house, downtown, spacious, beautiful, entire, friendly, kitchen, parking'),
 ('Downtown', 'downtown, parking, first, modern, central, spacious, beautiful, bright, stylish, clean'),
 ('Interbay', 'modern, downtown, close, terminal, parking, stylish, friendly, beautiful, lovely, trendy'),
 ('Lake City', 'private, modern, house, spacious, parking, north, friendly, quiet, peaceful, bright'),
 ('Magnolia', 'modern, private, friendly, downtown, house, quiet, spacious, large, kitchen, convenient'),
 ('Northgate', 'private, modern, light, parking, north, clean, spacious, house, green, large'),
 ('Other neighborhoods', 'private, modern, green, house, parking, spacious, charming, downtown, quiet, friendly'),
 ('Queen Anne', 'modern, parking, private, spacious, stunning, house, sweet, downtown, beautiful, lower'),
 ('Rainier Valley', 'light, private, house, modern, downtown, spacious, charming, close, parking, quiet'),
 ('Seward Park', 'spacious, house, beautiful, relaxing, large, stylish, entire, parking, private, sweet'),
 ('University District', 'private, clean, spacious, quiet, light, short, downtown, modern, close, serene'),
 ('West Seattle', 'modern, house, private, downtown, parking, quiet, friendly, close, charming, spacious')]


### Conclusion

---------
## Identify Seasonal Trends

### Code

In [6]:
%%SQL
-- Step 1: Create CTE to calculate the occupancy rate for each month.
WITH Occupancy AS (
    SELECT 
        EXTRACT(MONTH FROM date) AS month,
        (SUM(CASE WHEN available = 'f' THEN 1 ELSE 0 END) * 1.0 / COUNT(*)) * 100 AS occupancy_rate
    FROM 
        calendar
    GROUP BY 
        EXTRACT(MONTH FROM date)
),
-- Step 2: Create CTE to Calculate the average price for each month where the listing is available.
Prices AS (
    SELECT 
        EXTRACT(MONTH FROM date) AS month,
        AVG(CAST(REPLACE(REPLACE(price, '$', ''),',','') AS NUMERIC)) AS avg_price
    FROM 
        calendar
    WHERE 
        available = 't'
    GROUP BY 
        EXTRACT(MONTH FROM date)
)

-- Step 3: Query to select month, occupancy rate, average price per month,
-- and calculate the percentage increase in average price compared to the previous month.
SELECT 
    o.month,
    o.occupancy_rate,
    p.avg_price,
    CASE WHEN p.month = 1 THEN 	6.60345458220871354200 -- Fixed percentage increase for January compared to December (pre-calculated).
    ELSE (p.avg_price - LAG(p.avg_price) OVER (ORDER BY p.month)) / LAG(p.avg_price) OVER (ORDER BY p.month) * 100 
    END AS price_increase_pct
FROM 
    Occupancy o
JOIN 
    Prices p
ON 
    o.month = p.month
ORDER BY 
    o.month;

SyntaxError: invalid syntax (825152026.py, line 1)

### Conclusion
Key Points:
- Busiest Months: June (66.53% occupancy) and July (69.53% occupancy).
- Price Spikes: Prices rise significantly in April (+6.84%) and January (+6.60%).
- Unexpected Trend: Despite being the busiest month, July sees a price drop (-16.16%), indicating that high demand doesn’t always correspond to higher prices.

---------
## Track Growth Trends

### Code

In [4]:
%%sql
-- Step 1: Create CTE to rank each review by listing_id and date (ASC)
WITH RankedListings AS (
    SELECT *, 
           ROW_NUMBER() OVER (PARTITION BY listing_id ORDER BY date ASC) AS rn
    FROM reviews
), 
-- Step 2: Create CTE to select the first appearance (using first review apperance) of each listing
FirstAppearance AS (
    SELECT *
    FROM RankedListings
    WHERE rn = 1
    ORDER BY date ASC
), 
-- Step 3: Create CTE to count the number of new listings per year 
-- and calculate the correlation between the year and the number of new listings
NewListing AS (
    SELECT EXTRACT(YEAR FROM date) AS year,
           COUNT(listing_id) AS new_listing_total,
           ROUND(CAST(CORR(EXTRACT(YEAR FROM date), COUNT(listing_id)) OVER () AS NUMERIC), 2) AS year_total_corr
    FROM FirstAppearance
    GROUP BY EXTRACT(YEAR FROM date)
), 
-- Step 4: Create CTE to calculate the total number of distinct visitors per year 
-- and the correlation between the year and the number of new visitors
VisitorsTotal AS (
    SELECT COUNT(DISTINCT reviews.reviewer_id) AS new_visitors,
        ROUND(CAST(CORR(EXTRACT(YEAR FROM date), COUNT(reviewer_id)) OVER () AS NUMERIC), 2) AS year_visitors_corr,
        EXTRACT(YEAR FROM reviews.date) AS year
    FROM reviews
    GROUP BY EXTRACT(YEAR FROM reviews.date)
)

-- Step 5: Query to select year, number of new listings, their correlation, 
-- number of new visitors, and their correlation, joining the previous results on 'year'
SELECT 
       year,
       new_listing_total,
       year_total_corr,
       new_visitors,
       year_visitors_corr
FROM VisitorsTotal
INNER JOIN NewListing
    USING (year) 
ORDER BY year;

 * postgresql://postgres:***@localhost:5432/
16 rows affected.

[(Decimal('2009'), 1, Decimal('0.86'), 1, Decimal('0.86')),
 (Decimal('2010'), 2, Decimal('0.86'), 36, Decimal('0.86')),
 (Decimal('2011'), 6, Decimal('0.86'), 107, Decimal('0.86')),
 (Decimal('2012'), 36, Decimal('0.86'), 577, Decimal('0.86')),
 (Decimal('2013'), 66, Decimal('0.86'), 1549, Decimal('0.86')),
 (Decimal('2014'), 119, Decimal('0.86'), 4074, Decimal('0.86')),
 (Decimal('2015'), 201, Decimal('0.86'), 8776, Decimal('0.86')),
 (Decimal('2016'), 277, Decimal('0.86'), 16696, Decimal('0.86')),
 (Decimal('2017'), 325, Decimal('0.86'), 27499, Decimal('0.86')),
 (Decimal('2018'), 371, Decimal('0.86'), 40173, Decimal('0.86')),
 (Decimal('2019'), 309, Decimal('0.86'), 47185, Decimal('0.86')),
 (Decimal('2020'), 231, Decimal('0.86'), 22523, Decimal('0.86')),
 (Decimal('2021'), 669, Decimal('0.86'), 48865, Decimal('0.86')),
 (Decimal('2022'), 991, Decimal('0.86'), 80319, Decimal('0.86')),
 (Decimal('2023'), 1299, Decimal('0.86'), 104453, Decimal('0.86')),
 (Decimal('2024'), 698, Decimal('0.86'), 48954, Decimal('0.86'))]

### Conclusion
As we can see, there is a strong positive correlation between year and both number of new listings per year and number of new visitors per year.

Based on the positive correlations we can conclude that there is a general upward trend in both metrics over time.